<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Review this product</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="inputTitle">Review Title</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Review Title">
            </div>
            <div class="form-group">
                <label for="inputDescription">Review Description</label>
                <input type="text" class="form-control" id="inputDescription" placeholder="Review Description">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>