<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3 col-sm-10 col-xs-10">
            <h3>4.5 ★</h3>
            <em>1400 Reviews</em>
        </div>
        <div class="col-md-4 col-sm-10 col-xs-10">
            <span>5 </span><div class="graph-line"></div>
            <span>4 </span><div class="graph-line"></div>
            <span>3 </span><div class="graph-line"></div>
            <span>2 </span><div class="graph-line"></div>
            <span>1 </span><div class="graph-line"></div>
        </div>
        <div class="col-md-5 col-sm-10 col-xs-10">
            <button type="button" class="btn btn-default btn-large">Rate & Review Product</button>
        </div>
    </div>
</div>