.container{
  background: royalblue;
}
.business-title{
  font-size: 36px;
  line-height: 1.8;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.sub-title{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.bullet-text{
  text-align: left;
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.para-text{
  font-size: 16px;
  line-height: 2.2;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.panel-head{
  color:#344;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}