<div class="container">
  <div class="col-md-6 col-sm-10 col-xs-10">
    <h1 class="page-header business-title">Cloud Advisory Services</h1>
    <strong class="para-text">
      Enterprises are increasingly looking towards gaining competitive advantage through collaboration, process agility and innovative business models, at low costs. Cloud solutions bring this much-needed flexibility to enterprises to develop capabilities needed to innovate and seize new business opportunities. The challenge lies around identifying and developing a cloud strategy that helps meet key business goals. 
    </strong>
  </div>
  
  <div class="col-md-6 col-sm-10 col-xs-10">
    <h3 class="sub-title">How we help?</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-head">We clearly define :</h4>
      </div>
    <div class="list-group">
      <div class="list-group-item bullet-text">
        What to migrate to cloud? <br> <small>Set priority on applications, processes and infrastructure</small>
      </div>
      <div class="list-group-item bullet-text">
        How to migrate to cloud? <br> <small>Define the right migration strategy for your enterprise</small>
      </div>
      <div class="list-group-item bullet-text">
        Which cloud to migrate to? <br><small> Adopt an appropriate mix of Private, Public or Hybrid Clouds</small>
      </div>
    </div>
  </div>
  </div>
</div>