<div ng-show="false">
  <div class="col-md-6 col-sm-10 col-xs-10">
    <h1 class="page-header business-title">Business Process as-a-Service (BPaaS)</h1>
    <strong class="para-text">
    Enterprises have been automating business processes for decades. This traditional and siloed back office process outsourcing is giving way to the Cloud revolution, making it much easier for enterprises to approach business transformation in a holistic manner. Businesses are embracing process optimization, to improve their performance and define clear business outcomes.
    </strong>
  </div>
  
  <div class="col-md-6 col-sm-10 col-xs-10">
<br><br><br>    <strong class="sub-title text-left">We encapsulate the key tenets of process management and optimization, through Business Process as a Service (BPaaS)
    </strong>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-head">We enable your enterprise to :</h4>
      </div>
    <div class="list-group">
      <div class="list-group-item bullet-text">
        Have a single service provider capable of offering bundled end-to-end services
        <br>
        <small>i.e. Infrastructure, products, processes & services for their business</small>
      </div>
      <div class="list-group-item bullet-text">
        Greater agility in responding to changing market conditions
      </div>
      <div class="list-group-item bullet-text">
        Simpler and more effective governance
      </div>
      <div class="list-group-item bullet-text">
        Reduced relationship management costs
      </div>
    </div>
  </div>
  </div>