.full-width{
    width:100%;
}
.site-title{
    font-size: 32px;
    font-weight: 800;
    color: #fff;
}
.tag-line{
    font-size: 14px;
    font-weight: 500;
    color: #394;
    text-align: center;
    text-transform: uppercase;
}
.email, .phone{
    margin-top: 30px;
}
.headercls{
    height: 90px;
          background-color: #1b242c;
     color: #fff;
}
.headercls a{
    text-decoration: none;
}