<div class="full-width headercls">
    <div class="col-md-4">
        <a href="/">
        <h2 class="site-title">{{siteInfoService.header.brandName}}</h2>
        <span class="tag-line">{{siteInfoService.header.tagLine}}</span>
        </a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <h4 class="email">{{siteInfoService.header.email}}</h4>
    </div>
    <div class="col-md-2">
        <h4 class="phone">{{siteInfoService.header.phone}}</h4>
    </div>

</div>