<div class="container">
<div class="alert alert-info clearfix" *ngIf="noItemsInCart">
    <p class="pull-left">There are no items in your cart.</p><br><br>
    <a class="btn btn-primary pull-right" [routerLink]="['/products']">Go ahead and shop mind-blowing items</a>
</div>
<div class="panel panel-primary" *ngIf="!noItemsInCart">
    <div class="panel-heading clearfix">
        <h3 class="pull-left">Cart ({{itemsCount}})</h3>
        <h3 class="pull-right">Order Total: <strong>{{totalAmount1 | currency:'INR'}}</strong></h3>
    </div>    
    <div class="list-group">
        <li class="list-group-item" style="background:transparent;color:#000;">
            <div class="row">
                <div class="col-md-4">
                    <h4>Item</h4>
                </div>
                <div class="col-md-2 text-center">
                    <h4>stock_quantity</h4>
                </div>
                <div class="col-md-2">
                    <h4>Price</h4>
                </div>
                <div class="col-md-2">
                    <h4>SubTotal</h4>
                </div>
            </div>
        </li>
        <li class="list-group-item" *ngFor="let product of products">
            <product-item #product_item [product]="product">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{product.img_url}}" />
                    </div>
                    <div class="col-md-2">
                        <span>{{product.Title}}</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <strong>
                            <input type="text" class="text-center" style="width:30px;" maxlength="4" 
                            [(ngModel)]="product_item.stock_quantity" />
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span>{{product_item.price | currency:'INR'}}</span>
                    </div>
                    <div class="col-md-2">
                        <span>{{product_item.subTotal | currency:'INR'}}</span>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-small btn-warning" (click)="removeItem(product)">Remove</button>
                    </div>
                </div>    
            </product-item>
        </li>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-8">
                <a class="btn btn-default pull-left" [routerLink]="['/products']">Continue Shopping</a>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary pull-right"
                (click)="checkout()"><strong>Checkout</strong></button>
            </div>
        </div>
    </div>
</div>
</div>