<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Recent Orders</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <h4>Ordered On</h4>
                </div>
                <div class="col-md-2">
                    <h4>Customer</h4>
                </div>
                <div class="col-md-2">
                    <h4>Total Amount</h4>
                </div>
                <div class="col-md-2">
                    <h4>Shipping</h4>
                </div>
                <div class="col-md-2">
                    <h4>Status</h4>
                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
        </li>
        <li *ngFor="let order_item of order_items" class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <p class="grid-col">{{order_item.order_date}}</p>
                </div>
                <div class="col-md-2">
                    <p class="grid-col">{{order_item.shipping_for}}</p>
                </div>
                <div class="col-md-2">
                    <p class="grid-col">{{order_item.amount_paid}}</p>
                </div>
                <div class="col-md-2">
                    <p class="grid-col">{{order_item.shipping_address}}</p>
                </div>
                <div class="col-md-2">
                    <p class="grid-col">{{order_item.status}}</p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </li>
    </ul>
</div>