    <div class="row">
            <div class="alert alert-info clearfix" *ngIf="noItemsInCart">
                <p class="pull-left">There are no items in your cart.</p><br><br>
                <a class="btn btn-primary pull-right" [routerLink]="['/products']">Go ahead and shop mind-blowing items</a>
            </div>
            <div class="list-group" *ngIf="!noItemsInCart">
                <li class="list-group-item" style="background:transparent;color:#000;">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Item</h4>
                        </div>
                        <div class="col-md-2 text-center">
                            <h4>Quantity</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Price</h4>
                        </div>
                        <div class="col-md-2">
                            <h4>Shipping</h4>
                        </div>
                        <div class="col-md-2">
                            <h4>SubTotal</h4>
                        </div>
                        <div class="col-md-1">
                        </div>

                    </div>
                </li>
                <li class="list-group-item" *ngFor="let product of products">
                    <product-item #product_item [product]="product">
                        <div class="row">
                            <div class="col-md-2">
                                <span>{{product.title}}</span>
                            </div>
                            <div class="col-md-2 text-center">
                                <strong>
                                    <input type="text" class="text-center" style="width:30px;" maxlength="4" 
                                    [(ngModel)]="product_item.quantity" />
                                </strong>
                            </div>
                            <div class="col-md-3">
                                <span>{{product_item.price | currency:'INR'}}</span>
                            </div>
                            <div class="col-md-2">
                                <span>{{product_item.shippingChargeText}}</span>
                            </div>
                            <div class="col-md-2">
                                <span>{{product_item.subTotal | currency:'INR'}}</span>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm btn-danger" (click)="removeItem(product)">X</button>
                            </div>
                        </div>    
                    </product-item>
                </li>
            </div>
            <div class="row">
                    <button class="btn btn-primary pull-right"
                    (click)="confirmOrder()"><strong>Pay {{totalAmount1}}</strong></button>
            </div>
    </div>