main-content {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
  min-height: 500px;
  background: #fa2;
}

.footer-content{
  background: rgb(50,100,40);
}
