<nav class="navbar navbar-webmaster">
    <div class="container">
    	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li *ngFor="let level1Item of navList" class="dropdown">
					<a href="#" class="dropdown-toggle" 
					   (click)="openSubMenu(level1Item)" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{level1Item.title}} </a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<so-modal [(visible)]="showModal" (toggleVisibility)="submenu.clearMenu();closeSubMenu();">
	<so-submenu #submenu
				[isNavigationRequired]="true"  
				[allCategories]="allCategories"
				(onSubmenuClosed)="closeSubMenu($event)"></so-submenu>
</so-modal>
