<div class="nav-side-menu">
    <div class="brand" (click)="toggleClicked()" >Admin Panel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/dashboard']">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/orders']" routerLinkActive="active">
                  <i class="fa fa-shopping-cart fa-lg"></i> Orders
                  </a>
                </li>
                <li routerLinkActive="active" data-toggle="collapse" data-target="#products" class="collapsed">
                  <a [routerLink]="['/admin/products']" routerLinkActive="active"><i class="fa fa-cube fa-lg"></i> Products <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li routerLinkActive="active"><a [routerLink]="['/admin/products']">View Products</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/admin/products/new']">Add New</a></li>
                    <!--<li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>-->
                </ul>
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/categories']">
                  <i class="fa fa-sitemap fa-lg"></i> Categories
                  </a>
                </li>
                <li routerLinkActive="active" data-toggle="collapse" data-target="#users" class="collapsed">
                  <a [routerLink]="['/admin/users']"><i class="fa fa-users fa-lg"></i> Users <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" routerLinkActive="active" id="users">
                    <li routerLinkActive="active"><a [routerLink]="['/admin/users']">Add New</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/admin/users/new']">My Account</a></li>
                </ul>
                <li  data-toggle="collapse" data-target="#settings" routerLinkActive="active" class="collapsed">
                  <a [routerLink]="['/admin/settings']"><i class="fa fa-gear fa-lg"></i> Settings <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="settings">
                    <li routerLinkActive="active"><a [routerLink]="['/admin/setings']">General Settings</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/admin/menusettings']" >Menu</a></li>
                </ul>
<!--
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href=""><i class="fa fa-globe fa-lg"></i> Orders <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>View Orders</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>-->
            </ul>
     </div>
</div>