<form #f="ngForm" (ngSubmit)="submitCategoryForm()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Add Category</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="inputTitle">Category Title</label>
                <input type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="model.title" name="title"
                    #title="ngModel">
                <!--<div [hidden]="title.valid || title.pristine"
                    class="alert alert-danger">
                Title is required
                </div>-->
            </div>
            <div class="form-group">
                <label for="inputDesc">Category Description</label>
                <textarea class="form-control" id="name"
                    required
                    [(ngModel)]="model.description" name="description"></textarea>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
