<div class="col-md-2 col-sm-hidden col-xs-hidden"></div>
<div class="col-md-6 col-sm-10 col-xs-10">
    <form #f="ngForm" (ngSubmit)="submitCredentials()">
<div class="panel panel-default">
        <div class="panel-heading">
            <h3>Log In</h3>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input name="email" type="email" [(ngModel)]="user.email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input name="password" type="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
        </div>
        <div class="alert-danger">{{errorMsg}}</div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{{buttonText}}</button>
        </div>
</div>
    </form>
</div>
<div class="col-md-4 col-sm-hidden col-xs-hidden"></div>
