    <div class="panel panel-default">
        <form #f="ngForm" (ngSubmit)="onSubmitSpecification()">
            <div class="panel-body">
                <div class="form-group">
                    <label for="inputTitle">Specification Title</label>
                    <input type="text" class="form-control" 
                    name="title" [(ngModel)]="model.title" id="inputTitle" placeholder="Specification Title">
                </div>
                <div class="form-group">
                    <label for="inputDesc">Specification Description</label>
                    <input type="text" class="form-control" 
                    name="description" [(ngModel)]="model.description" id="inputDesc" placeholder="Description">
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>