    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="inputTitle">Feature Title</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Feature Title">
            </div>
            <div class="form-group">
                <label for="inputDesc">Feature Description</label>
                <input type="text" class="form-control" id="inputDesc" placeholder="Description">
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default">Add</button>
        </div>
    </div>