    <form>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>New Product</h2>
                </div>
                <div class="panel-body">
                        <div class="form-group">
                            <label for="inputTitle">Product Title</label>
                            <input type="text" class="form-control" id="inputTitle" placeholder="Product Title">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputCategory">Product Category</label>
                                    <select class="form-control" id="inputCategory">
                                        <option *ngFor="let cat of categories">
                                            {{cat.title}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputTag">Tags</label>
                                    <input type="text" class="form-control" id="inputTag" placeholder="Space separated tags">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPrice">Price</label>
                                    <input type="number" class="form-control" id="inputPrice">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputStock">Stock Quantity</label>
                                    <input type="number" class="form-control" id="inputStock">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Product Description</label>
                            <textarea row="100" class="form-control" id="inputDescription" placeholder="Product Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Product Options</label>
                            <div *ngFor="let item of options | reverse">
                                    <so-product-option
                                            (optionAddEvent)="optionAdded(item)"
                                            (optionRemoveEvent)="optionRemoved(item)">
                                    </so-product-option>
                            </div>
                        </div>
                </div>
                <div class="panel-footer clearfix">
                    <button type="button" class="btn btn-primary pull-right">Add Product</button>
                </div>
        </div>
    </form>