<ul class="nav navbar-nav navbar-right cart" *ngIf="cartService.isCartVisible">

      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="color:#fff;">
              <span class="glyphicon glyphicon-shopping-cart" ></span><span class="cart-text"> {{items}} - Items</span>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-cart">
              <li *ngFor="let product of products">
                  <span class="item">
                    <span class="item-left">
                        <span class="item-info">
                            <span>{{product.Name}}</span>
                            <span>{{product.SellingPrice}}</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button title="Remove Item" class="btn btn-xs btn-danger pull-right" (click)="removeItem(product)">x</button>
                    </span>
                </span>
              </li>
              <li class="divider"></li>
              <li><a class="text-center" [routerLink]="['/viewcart']">{{viewMsg}}</a></li>
          </ul>
      </div>
      

</ul>
<!--<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>-->